body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

h1 {
    
    color: rgb(255, 255, 255);
}

form {
    background-color: #222831;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
    
}

input[type="text"],
input[type="email"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: darkgray;
    border-radius: 10px;
}

#submit-form {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-form:hover {
    background-color: #ff4500;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.msg-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
}

#msg {
    color: white;
}


a {
    background-color: #222831;
    margin: 14px 16px;
}
.topnav-srch-page a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav-srch-page a:hover {
    background-color: #ff4500;
    color: black;
  }





